<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuwen.citysell.dao.CartsMapper">

    <!--购物车列表-->
    <select id="list" resultType="com.yuwen.citysell.vo.CartsListVo">
        SELECT a.id,
               a.prod_id,
               a.buy_nums,
               b.prod_name,
               b.prod_price
        FROM t_carts a
                 LEFT JOIN t_product b ON a.prod_id = b.id
        WHERE a.delete_status = 0
          AND b.delete_status = 0
    </select>
</mapper>